/* #functions_table{
    width: 300px;
    height: 70px;
    overflow: auto;
}

*/
.function_name{
    font-weight: bold;
}

.function_category{
    font-style: italic;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-style: solid;
}

ul li {
  background: lightgrey;
  overflow: hidden;
  border-bottom-style: solid;
  display: flex;
  align-items: center;
}

.function_image{
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    margin-left: 0.75em;
    margin-right: 1em;

    height: 4em;
    width: 4em;
    border-style: solid;
    display: flex;
    background-color: white;
}

.function_image img{
   max-width: 100%;
   max-height: 100%;
   margin: auto;
}

.function-item {
    touch-action: none;
    user-select: none;
}