.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background-color: lightblue;
    color: black;

    list-style: none;
    margin: 0;
    padding-left: 0;
    border: 2px solid black;
}

.navbar li {
    list-style: none;
}

.navbar a {
    color: black;
    margin: 0 10px;
    text-decoration: none;
    
}

.navbar a:hover {
    text-shadow: 0 0 5px black;
}

